@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
/* font-family: 'Cinzel', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

#root {
  --main-color: #22223b;
  --second-color: #4a4e69;
  --third-color: #9a8c98;
  --fourth-color: #c9ada7;
  --last-color: #f2e9e4;
  font-family: 'Montserrat', sans-serif;
}
